.App {
  text-align: center;
}

.App {
  text-align: center;
  
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.menu{
  border: 0.3em double #80B6C3;
  background-color:rgb(7 71 166);
  margin-bottom:0.2em;
  height:3em;
  display:block;
  /*background-image:url(../../Imagenes/fondo_menu.jpg);*/
  }

  .menu p{
    text-decoration:none;
    font-size:1.1em;
    font-weight:bold;
    color:#FFFFFF;
    display:block;
    padding-right:0.7em;
    padding-left:0.7em;
    padding-top:0.5em;
    }
    .fondo{
      
      min-height: 300px;
      
      
    }
    .colorFondo{
      background-color:#00173C;
    }

    .letraPequena{
      font-size: 8px;
    }

    hr.solid {
      border-top: 3px solid #bbb;
      
    }

    .myicons{
      margin-left: 20px;
      font-size: 25px;
    }
    .textoColor{
      color: red;
    }
    .bg-NavBar{
      background-color: #2f2c79;
    }


    .bg-buttons{
      background-color: #9ce0db;
    }      
      