.titulo {
    color: rgb(7 71 166);
    text-align: center;
    border: 8px;
    font-size: calc(15px + 2vmin);
    

}

.label{
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
   border-radius: 27px;
   padding: 1px;
   
}

.boton{
    
   padding: 0px;
    border-radius: 0.4em;
    display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
  background-color: rgb(7 71 166);
  color: aliceblue;
  
  
  
}

.boton-div{
    border-radius: 0.5em;
    display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  margin: 5px;
}


.border-div{
  border: 1px solid;
  background-color: rgba(0, 0, 255, 0.041);
  height: 300px;
  width: 280px;
  border-radius: 0.4em;
  position: absolute;
  top: 15%;
  left: 36%
  
  
}

input{
  border-radius: 0.4em;
}
.label-registro{
  color: rgb(7 71 166);
  text-align: center;
  flex-direction: column;
  display: flex;
  
  
}
.border-div{
  -webkit-box-shadow: 10px 10px 21px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 21px -6px rgba(0,0,0,0.75);
box-shadow: 10px 10px 21px -6px rgba(0,0,0,0.75);
  
}
